#
# Baseline config for RSW
# PRTOS version: 1.0.0
#
CONFIG_STACK_SIZE=8
CONFIG_CONTAINER_AT_FIXED_ADDR=y
CONFIG_ARCH="aarch64"
CONFIG_KERNELVERSION="1.0.0"
CONFIG_PRTOS_VERSION=1
CONFIG_PRTOS_SUBVERSION=0
CONFIG_PRTOS_REVISION=0

#
# RSW memory layout
#
CONFIG_LOAD_ADDR=0x40200000
CONFIG_CONTAINER_ADDR=0x40280000
CONFIG_OUTPUT_ENABLED=y

