#
# Baseline config for PRTOS Kernel on AArch64
# PRTOS version: 1.0.0
#
CONFIG_AARCH64=y
CONFIG_HWIRQ_PRIO_FBS=y
CONFIG_MMU=y
CONFIG_MAX_NO_KTHREADS=255
CONFIG_VMM_UPDATE_HYPERCALLS=y
CONFIG_NO_HWIRQS=32
CONFIG_TARGET_LITTLE_ENDIAN=y

#
# Processor
#
CONFIG_QEMU=y
CONFIG_SMP=y
CONFIG_NO_CPUS=4

#
# Physical memory layout
#
CONFIG_PRTOS_LOAD_ADDR=0x40100000
CONFIG_PRTOS_OFFSET=0xA0000100000

#
# Hypervisor arch-dependent parameters
#
CONFIG_UART_TIMEOUT=200
# CONFIG_EXPERIMENTAL is not set
