mainmenu "PRTOS Configuration"

config AARCH64
        def_bool y

config HWIRQ_PRIO_FBS
        def_bool y

config MMU
        def_bool y

config ARCH_MMU_BYPASS
        depends on !AARCH64
        def_bool n

config MAX_NO_KTHREADS
        int
        default "255"

config VMM_UPDATE_HYPERCALLS
        def_bool y

config NO_HWIRQS
        int
        default "16" if !APIC
        default "1024" if APIC

config TARGET_LITTLE_ENDIAN
        def_bool y

menu "Processor"

choice
        prompt "Board"
        default QEMU
	
config QEMU
        bool "Qemu"
        select SMP_INTERFACE_MPSPEC if SMP

config VMWARE
        bool "VMWare"
        select SMP_INTERFACE_ACPI if SMP

endchoice

config CHIPSET_ICH
        bool
        default n

choice
        prompt "Clock source"
        default TSC_TIMER

config TSC_CLOCK
        bool "TSC"
        depends on !SMP
        select PC_PIT_TIMER

config PC_PIT_CLOCK
        bool "PIT"
        depends on !SMP
        select PC_PIT_TIMER

config HPET_CLOCK
        bool "HPET"
        select HPET
        select HPET_TIMER if !SMP

endchoice

config HPET
        def_bool n

config SMI_DISABLE
        bool "Disable SMI Interrupts (see Help WARNING note)"
        default n
        help
        WARNING:
        This option disables SMI Interrupts to provide deterministic RT behaviour.
        At a cost that disabling SMI may cause harm to your computer.
        Be sure *you know what you are doing* before disabling System Management Interrupts.
        default "0x8086" if VMWARE QEMU

config SMP
        bool "Symmetric multi-processing support"
        default n
        select HPET_CLOCK

config NO_CPUS
        int "Number of CPUs supported"
        default "4"
        depends on SMP

if SMP
config SMP_INTERFACE_MPSPEC
        bool
        default n

config SMP_INTERFACE_ACPI
        bool
        default n
endif

config APIC
        def_bool y
        depends on SMP

if APIC
config MAX_NO_IOAPICS
        int 
        default "1"
        depends on APIC

config MAX_NO_IOINT
        int 
        default "24"
        depends on APIC

config MAX_NO_LINT
        int 
        default "16"
        depends on APIC

config MAX_NO_BUSES
        int
        default "16"
        depends on APIC
endif

config HPET_TIMER
        def_bool n
        depends on HPET
        
config PC_PIT_TIMER
        def_bool n
        depends on !APIC
        depends on !HPET_TIMER
endmenu

menu "Physical memory layout"

config PRTOS_LOAD_ADDR
        hex "PRTOS load address"
        default "0x49000000"

config PRTOS_OFFSET
        hex
        default "0xA0000200000"
endmenu

menu "Hypervisor arch-dependent parameters"

config PARTITION_NO_GDT_ENTRIES
        int "Number of GDTs entries per partition"
        default "32"

endmenu

config UART_TIMEOUT
       int
       default 200

source "kernel/Kconfig"
