#
# Baseline config for PRTOS Kernel on RISC-V 64-bit
# PRTOS version: 1.0.0
#
CONFIG_riscv64=y
CONFIG_HWIRQ_PRIO_FBS=y
CONFIG_MMU=y
CONFIG_MAX_NO_KTHREADS=255
CONFIG_VMM_UPDATE_HYPERCALLS=y
CONFIG_NO_HWIRQS=32
CONFIG_TARGET_LITTLE_ENDIAN=y

#
# Processor
#
CONFIG_QEMU=y
CONFIG_SMP=y
CONFIG_NO_CPUS=4

#
# Physical memory layout
#
CONFIG_PRTOS_LOAD_ADDR=0x84000000
CONFIG_PRTOS_OFFSET=0xFFFFFFC084000000

#
# Hypervisor arch-dependent parameters
#
CONFIG_UART_TIMEOUT=200
# CONFIG_EXPERIMENTAL is not set
CONFIG_DEBUG=y
CONFIG_VERBOSE_TRAP=y
# CONFIG_NO_GCC_OPT is not set
CONFIG_ID_STRING_LENGTH=16

#
# Hypervisor
#
CONFIG_PRTOS_MAX_IPVI=8
CONFIG_KSTACK_KB=8
CONFIG_MAX_NO_VCPUS=4
CONFIG_AUDIT_EVENTS=y
CONFIG_ARCH="riscv64"
CONFIG_KERNELVERSION="1.0.0"
CONFIG_PRTOS_VERSION=1
CONFIG_PRTOS_SUBVERSION=0
CONFIG_PRTOS_REVISION=0

#
# MMU
#

#
# PRTOS executable format (PEF)
#
CONFIG_PEF_COMPRESSION=y

#
# Drivers
#
CONFIG_DEV_UART=y
# CONFIG_DEV_VGA is not set
CONFIG_EARLY_OUTPUT=y
CONFIG_EARLY_DEV_UART=y
