#
# Baseline config for bail
# PRTOS version: 1.0.0
#
CONFIG_ARCH="aarch64"
CONFIG_KERNELVERSION="1.0.0"
CONFIG_PRTOS_VERSION=1
CONFIG_PRTOS_SUBVERSION=0
CONFIG_PRTOS_REVISION=0
CONFIG_DEBUG=y

#
# Kernel options
#
CONFIG_STACK_KB=8
CONFIG_SIZE_PAGE_TABLE=16

