#
# Baseline config for PRTOS Kernel
# PRTOS version: 1.0.0
#
CONFIG_x86=y
CONFIG_HWIRQ_PRIO_FBS=y
CONFIG_MMU=y
CONFIG_MAX_NO_KTHREADS=255
CONFIG_VMM_UPDATE_HYPERCALLS=y
CONFIG_NO_HWIRQS=32
CONFIG_TARGET_LITTLE_ENDIAN=y

#
# Processor
#
# CONFIG_QEMU is not set
CONFIG_VMWARE=y
# CONFIG_CHIPSET_ICH is not set
# CONFIG_TSC_CLOCK is not set
# CONFIG_PC_PIT_CLOCK is not set
CONFIG_HPET_CLOCK=y
CONFIG_HPET=y
# CONFIG_SMI_DISABLE is not set
CONFIG_SMP=y
CONFIG_NO_CPUS=4
# CONFIG_SMP_INTERFACE_MPSPEC is not set
CONFIG_SMP_INTERFACE_ACPI=y
CONFIG_APIC=y
CONFIG_MAX_NO_IOAPICS=1
CONFIG_MAX_NO_IOINT=24
CONFIG_MAX_NO_LINT=16
CONFIG_MAX_NO_BUSES=16
# CONFIG_HPET_TIMER is not set

#
# Physical memory layout
#
CONFIG_PRTOS_LOAD_ADDR=0x1000000
CONFIG_PRTOS_OFFSET=0xFC000000

#
# Hypervisor arch-dependent parameters
#
CONFIG_PARTITION_NO_GDT_ENTRIES=32
CONFIG_UART_TIMEOUT=200
# CONFIG_EXPERIMENTAL is not set
CONFIG_DEBUG=y
CONFIG_VERBOSE_TRAP=y
# CONFIG_NO_GCC_OPT is not set
CONFIG_ID_STRING_LENGTH=16

#
# Hypervisor
#
CONFIG_PRTOS_MAX_IPVI=8
CONFIG_KSTACK_KB=8
CONFIG_MAX_NO_VCPUS=4
CONFIG_AUDIT_EVENTS=y
CONFIG_ARCH="x86"
CONFIG_KERNELVERSION="1.0.0"
CONFIG_PRTOS_VERSION=1
CONFIG_PRTOS_SUBVERSION=0
CONFIG_PRTOS_REVISION=0


#
# MMU
#

#
# PRTOS executable format (PEF)
#
CONFIG_PEF_COMPRESSION=y

#
# Drivers
#
CONFIG_DEV_UART=y
CONFIG_DEV_VGA=y
CONFIG_EARLY_OUTPUT=y
CONFIG_DEV_NO_UARTS=2
CONFIG_EARLY_DEV_UART=y
# CONFIG_EARLY_DEV_VGA is not set
CONFIG_DEV_MEMBLOCK=y

#
# Objects
#
CONFIG_OBJ_HM_VERBOSE=y
CONFIG_OBJ_COMM_PORTS=y
CONFIG_OBJ_RAW_MEM=y
CONFIG_OBJ_STATUS=y
CONFIG_OBJ_STATUS_ACC=y
